# Big Data Real-Time Analytics with Python and Spark

## Chapter 7 - Statistical Data Analysis Part 1

### Lab 1 - Building frequency distributions in python

In [1]:
# Python version
from platform import python_version
print('The version used in this notebook is: ', python_version())

The version used in this notebook is:  3.8.13

## Frequency Distribution

The DSA instructor collected the grades of all students in the final evaluation of Machine Learning course. The instructor would like to tabulate the data to extract insights and understand how the data is organized. Create a frequency distribution to help the instructor.

In [2]:
# Imports
import pandas as pd

In [3]:
# List with the grades of all students in the final evaluation of Machine Learning course
student_grades = [92, 81, 100, 92, 71, 73, 100, 92, 84, 100, 73, 92, 73, 84, 92, 92, 92, 84, 73, 100]

In [4]:
len(student_grades)

20

## Solution with Series in Pandas

In [5]:
# Create a serie with grades and frequency
df1 = pd.Series(student_grades).value_counts().reset_index().sort_values('index').reset_index(drop = True)
df1.head(6)

   index  0
0     71  1
1     73  4
2     81  1
3     84  3
4     92  7
5    100  4

In [6]:
type(df1)

pandas.core.frame.DataFrame

In [7]:
# Change columns name
df1.columns = ['Grade', 'Frequency']

In [8]:
print(df1)

   Grade  Frequency
0     71          1
1     73          4
2     81          1
3     84          3
4     92          7
5    100          4

In [9]:
# Create a serie with grades and frequency
df1 = pd.Series(student_grades).value_counts(bins = 3).reset_index().sort_values('index').reset_index(drop = True)
df1.columns = ['Grade', 'Frequency']
print(df1)

              Grade  Frequency
0   (70.97, 80.667]          5
1  (80.667, 90.333]          4
2   (90.333, 100.0]         11

## Solution with Dataframe in Pandas

### Simple or Absolute Frequency Distribution - fi

These are the values that represent the number of data in each class. The sum of the simple frequencies is equal to the total number of data.

In [10]:
df2 = pd.value_counts(student_grades).to_frame(name = 'fi').rename_axis('Grade').sort_index()
print(df2)

       fi
Grade
71      1
73      4
81      1
84      3
92      7
100     4

### Simple Relative Frequency Distribution - fri

Allows you to view the values of the ratios between the simple frequencies and the total frequency.

In [12]:
df2['fri'] = pd.value_counts(student_grades) / len(student_grades)
print(df2)

       fi   fri
Grade
71      1  0.05
73      4  0.20
81      1  0.05
84      3  0.15
92      7  0.35
100     4  0.20

### Cumulative Frequency Distribution - Fi

Allows you to see the total of the frequencies of all values below the upper limit of the range for a given class.

In [13]:
df2['Fi'] = df2.fi.cumsum()
print(df2)

       fi   fri  Fi
Grade
71      1  0.05   1
73      4  0.20   5
81      1  0.05   6
84      3  0.15   9
92      7  0.35  16
100     4  0.20  20

### Cumulative Relative Frequency Distribution - Fri

This allows you to see the cumulative frequency of the class, divided by the total frequency of the distribution.

In [14]:
df2['Fri'] = df2.fi.cumsum() / len(student_grades)
print(df2)

       fi   fri  Fi   Fri
Grade
71      1  0.05   1  0.05
73      4  0.20   5  0.25
81      1  0.05   6  0.30
84      3  0.15   9  0.45
92      7  0.35  16  0.80
100     4  0.20  20  1.00

# The End