# Big Data Real-Time Analytics with Python and Spark

## Chapter 8 - Statistical Data Analysis Part 2

### Lab 3 - Hypothesis testing in python

In [3]:
# Python version
from platform import python_version
print('The version used in this notebook is: ', python_version())

The version used in this notebook is:  3.8.13

In [4]:
# Imports
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
# Package versions used in this notebook
%reload_ext watermark
%watermark -a "Bianca Amorim" --iversions

Author: Bianca Amorim

pandas: 1.4.2
numpy : 1.22.3
scipy : 1.7.3

In [6]:
# Load dataset
df = pd.read_csv(r'datasets/dataset.csv')

In [7]:
df.shape

(200, 10)

In [8]:
df.head()

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
0,70,0,4,1,1,1,57,49.2,52,57.2
1,121,1,4,2,1,3,68,63.6,59,64.9
2,86,0,4,3,1,1,44,64.8,33,36.3
3,141,0,4,3,1,3,63,56.4,44,48.4
4,172,0,4,2,1,2,47,68.4,52,57.2

In [9]:
df.columns

Index(['id_cliente', 'genero', 'canal_atendimento', 'regiao', 'estado_civil',
       'segmento', 'consumo_medio_mensal_antes_upgrade',
       'consumo_medio_mes_anterior_ao_upgrade',
       'consumo_medio_primeiro_mes_apos_upgrade',
       'consumo_medio_segundo_mes_apos_upgrade'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   id_cliente                               200 non-null    int64
 1   genero                                   200 non-null    int64
 2   canal_atendimento                        200 non-null    int64
 3   regiao                                   200 non-null    int64
 4   estado_civil                             200 non-null    int64
 5   segmento                                 200 non-null    int64
 6   consumo_medio_mensal_antes_upgrade       200 non-null    int64
 7   consumo_medio_mes_anterior_ao_upgrade    200 non-null    float64
 8   consumo_medio_primeiro_mes_apos_upgrade  200 non-null    int64
 9   consumo_medio_segundo_mes_apos_upgrade   200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [11]:
df.describe()

,id_cliente,genero,canal_atendimento,regiao,estado_civil,segmento,consumo_medio_mensal_antes_upgrade,consumo_medio_mes_anterior_ao_upgrade,consumo_medio_primeiro_mes_apos_upgrade,consumo_medio_segundo_mes_apos_upgrade
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,63.174000,52.775000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,11.242137,9.478586,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,39.600000,31.000000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,54.000000,45.750000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,62.400000,54.000000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,70.800000,60.000000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,90.000000,67.000000,73.700000