# Big Data Real-Time Analytics with Python and Spark

## Chapter 4 -  Exercises

Hora de praticar um pouco. Resolva as questões a seguir e consulte a documentação Python se necessário! 

A solução será apresentada no próximo capítulo.

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
%reload_ext watermark
%watermark -a "Bianca Amorim" --iversions

Author: Bianca Amorim

pandas    : 1.4.2
matplotlib: 3.4.3
numpy     : 1.22.3

In [3]:
# The dataset contains records of taxi runs
df = pd.read_csv('datasets/dataframe.csv', parse_dates = ['Data'], usecols = list(range(0,6)))

In [4]:
df.dtypes

Data          datetime64[ns]
Distancia            float64
Tempo                 object
Segundos             float64
Minutos              float64
Min_Por_Km           float64
dtype: object

In [5]:
df.sort_index(inplace = True)
df.sample(10)

         Data  Distancia    Tempo  Segundos    Minutos  Min_Por_Km
10 2015-08-13       2.35  0:17:25    1045.0  17.416667    7.411348
14 2015-08-16       0.65      NaN       NaN        NaN         NaN
36 2015-09-17       1.50  0:11:06     666.0  11.100000    7.400000
34 2015-09-12       3.05  0:23:46    1426.0  23.766667    7.792350
46 2015-10-14       1.37  0:09:05     545.0   9.083333    6.630170
37 2015-09-19       1.37  0:09:45     585.0   9.750000    7.116788
72 2015-12-19       3.10  0:26:15    1575.0  26.250000    8.467742
52 2015-10-31       2.01      NaN       NaN        NaN         NaN
74 2015-12-22       3.10  0:28:00    1680.0  28.000000    9.032258
66 2015-12-09       2.93  0:25:00    1500.0  25.000000    8.532423

#### Exercise 1 - What is the maximum value of the Minutes column?

#### Exercise 2 - What is the minimum distance value above 2.0?

#### Exercise 3 - Create a plot with the cumulative frequency of the Distance column.

####  Exercise 4 - What is the day of the week at position index zero?

#### Exercise 5 - What day of the week in the indexes in the top 5 positions?

#### Exercise 6 - Extract all the days of the week (in text format) and insert them in a new column in the dataframe df.

#### Exercise 7 - Create a bar graph with the total distance traveled on each day of the week.

#### Exercise 8 - Delete the Time column from the dataframe df.

#### Exercise 9 - What is the total number of taxi rides per day of the week?

#### Exercise 10 - What is the average for each of the columns by day of the week?

# The End