# Big Data Real-Time Analytics with Python and Spark

## Chapter 3 - Data Manipulation in Python with Pandas
- Documentation: https://pandas.pydata.org/

In [1]:
# Python version
from platform import python_version
print('The version used in this notebook is: ', python_version())

The version used in this notebook is:  3.8.8

In [4]:
# Import the pandas and Numpy module
import pandas as pd
import numpy as np

In [5]:
# package version used in this notebook
%reload_ext watermark
%watermark -a "Bianca Amorim" --iversions

Author: Bianca Amorim

numpy : 1.23.3
pandas: 1.5.0

## Series Operations

In [6]:
# List of lists (matrix)
matrix = [[9, 4, 3], [2, 6, 1], [7, 5, 8]]

In [12]:
matrix

[[9, 4, 3], [2, 6, 1], [7, 5, 8]]

In [8]:
# Convert a matrix to a dataframe
df = pd.DataFrame(matrix)

In [9]:
# Data type
type(df)

pandas.core.frame.DataFrame

In [11]:
# Extract the line of index 0 (when we extract a line or column the object becomes a Serie)
line = df.iloc[0, :]

In [13]:
type(line)

pandas.core.series.Series

In [15]:
coluna = df[0]

In [16]:
type(coluna)

pandas.core.series.Series

In [17]:
# Create a Serie
serie_pandas = pd.Series(['a', 'b', 'c', 'd', 'e'])

In [18]:
serie_pandas

0    a
1    b
2    c
3    d
4    e
dtype: object

In [19]:
# View the index
serie_pandas.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
# View the values
serie_pandas.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [21]:
# View data type (O = Object = string = texto)
serie_pandas.dtype

dtype('O')

In [22]:
# View shape (We can not say 5 lines - it is a un one-dimensional structure with 5 elements)
serie_pandas.shape

(5,)

In [23]:
serie_pandas = pd.Series(['a', 'b', 'c', 10, True], index = [10, 20, 30, 40, 50])

In [24]:
serie_pandas.index

Int64Index([10, 20, 30, 40, 50], dtype='int64')

In [25]:
serie_pandas.dtype

dtype('O')

In [26]:
serie_pandas.values

array(['a', 'b', 'c', 10, True], dtype=object)

In [27]:
serie_pandas

10       a
20       b
30       c
40      10
50    True
dtype: object

In [29]:
serie_pandas = pd.Series(['a', 'b', 'c', 10, True])

In [30]:
serie_pandas

0       a
1       b
2       c
3      10
4    True
dtype: object

In [31]:
# We can have a serie with many types of data
# But if we call the type they answer with what appear most often 
serie_pandas.dtype

dtype('O')

In [32]:
print(serie_pandas[0])

a

In [33]:
type(serie_pandas[0])

str

In [34]:
print(serie_pandas[3])

10

In [35]:
type(serie_pandas[3])

int

In [36]:
print(serie_pandas[4])

True

In [37]:
type(serie_pandas[4])

bool

In [39]:
# We can not do the same with the index 2 because it is a string
result = serie_pandas[3] + 1

In [40]:
print(result)

11

In [42]:
list = ['Data', 'Science', 'Academy']